@model TaskTrackerApp.Models.Todo

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Edit Task
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TaskTodoId" />

                        <div class="form-group">
                            <label asp-for="TaskTodoName" class="control-label"></label>
                            <input asp-for="TaskTodoName" class="form-control" />
                            <span asp-validation-for="TaskTodoName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TaskTodoDescription" class="control-label"></label>
                            <textarea asp-for="TaskTodoDescription" class="form-control"></textarea>
                            <span asp-validation-for="TaskTodoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TaskTodoDate" class="control-label"></label>
                            <input asp-for="TaskTodoDate" class="form-control" />
                            <span asp-validation-for="TaskTodoDate" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center mt-2">
                            <button type="submit" class="btn btn-success mx-2">Save</button>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mx-2">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
