@model IEnumerable<TaskTrackerApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-controller="Todoes" asp-action="Create" class="btn btn-success mt-3"><i class="bi bi-journal-plus me-1"></i>Create New</a>
</p>
<table class="table" id="tblData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskTodoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTodoDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTodoDate)
            </th>
            <th></th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/js/taskstabel.js"></script>
}